build/

bin/x86/windows/Debug/*
bin/x86/windows/Release/*
bin/x86/windows/MinSizeRel/*
bin/x86/windows/RelWithDebInfo/*
bin/x86/windows/config/*
bin/x86/windows/data/*
bin/x86/windows/resource/sheet/*
bin/x86/windows/screenshot/*
bin/x86/windows/sample/*
bin/x86/windows/gmp_sample/*

setenv.gitignore.bat

Thumbs.db

src/*/hl_version_info.rc
src/*/hl_date_time_info.hh

release/*.7z
